# Site settings
title: Shanmugam MPl
description: 'Engineer, analog electronics, Ï€.'
url: 'shan.mp'
baseurl: '/'
# google_analytics: 'UA-XXXXXX-X'
disqus_shortname: 'shannietron'

author:
  name: 'Shanmugam MPl'
  email: knock@shan.mp
  twitter_username: shannietron
  facebook_username: shanmugammpl
  github_username:  shannietron

defaults:
  -
    scope:
      path: ''
      type: 'posts'
    values:
        layout: 'post'

# Build settings
destination: _site
paginate: 10
permalink: /:year/:title/
markdown: kramdown
highlighter: rouge

kramdown:
  # use Github Flavored Markdown
  input: GFM
  # do not replace newlines by <br>s
  hard_wrap: false

gems: ['jekyll-paginate']
exclude: ['README.md', 'Gemfile', 'Gemfile.lock', 'screenshot.png']
